
/* Universal styles */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4;
}

/* General page styles */

.container {
  max-width: 960px;
  margin: auto;
}

/* Main banner styles */

.banner {
  background-image: url("../images/banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  padding-top: 1rem;
}

.header {
  display: flex;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 0;
  color: white;
}

.header img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 2rem;
}

.header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navs-large span {
  padding-right: 2rem;
}

.navs-small span {
  padding-right: 2rem;
}

.navs-small {
  display: none;
}

.hero-text {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 5rem;
  font-weight: bold;
  line-height: 1.2;
  font-size: 2rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

.hero {
  display: flex;
  justify-content: flex-end;
}

/* USPs section styles */

.USPs {
  display: flex;
  justify-content: center;
}

.USP {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.USP img {
  width: 5rem;
  margin-bottom: 1rem;
}

.USP img.exams {
  width: 3.5rem;
}

/* Info section styles */

.info {
  display: flex;
  justify-content: center;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}

.head-block {
  width: 10rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* Footer styles */

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
}

footer img {
  height: 1.5rem;
  padding-right: 1rem;
}
